*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#080808;
color:white;
font-family:Poppins,sans-serif;

}

header{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 5%;

background:#101010;

border-bottom:1px solid #222;

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:22px;

font-weight:700;

}

.logo i{

color:#e50914;

font-size:28px;

}

nav{

display:flex;

gap:30px;

}

nav a{

text-decoration:none;

color:#bdbdbd;

font-weight:600;

}

nav a:hover,
nav .active{

color:#fff;

}

.search{

display:flex;

align-items:center;

background:#161616;

padding:10px 15px;

gap:10px;

}

.search input{

background:none;

border:none;

color:white;

outline:none;

}

.login{

background:#e50914;

color:white;

border:none;

padding:12px 20px;

cursor:pointer;

font-weight:700;

}

.explore-header{

padding:70px 8%;

text-align:center;

}

.explore-header h1{

font-size:55px;

margin-bottom:15px;

}

.explore-header p{

color:#aaa;

}

.filters{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

margin-bottom:50px;

}

.filters button{

padding:12px 25px;

background:#151515;

color:white;

border:1px solid #333;

cursor:pointer;

transition:.3s;

}

.filters button:hover,
.filters .active{

background:#e50914;

border-color:#e50914;

}

.games{

max-width:1400px;

margin:auto;

padding:0 40px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(270px,1fr));

gap:25px;

}

.card{

background:#151515;

border:1px solid #252525;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

border-color:#e50914;

}

.card img{

width:100%;

height:350px;

object-fit:cover;

}

.info{

padding:20px;

}

.info h3{

margin-bottom:8px;

}

.info p{

color:#999;

margin-bottom:20px;

}

.bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

.bottom button{

background:transparent;

border:1px solid #e50914;

color:#e50914;

padding:10px 15px;

cursor:pointer;

}

.bottom button:hover{

background:#e50914;

color:white;

}

.pagination{

display:flex;

justify-content:center;

gap:15px;

margin:70px 0;

}

.pagination button{

width:45px;

height:45px;

background:#151515;

border:1px solid #333;

color:white;

cursor:pointer;

}

.pagination .active{

background:#e50914;

border-color:#e50914;

}

footer{

padding:40px;

text-align:center;

border-top:1px solid #222;

color:#888;

margin-top:80px;

}